.header {
    position: relative;
    z-index: 30;

    // position: fixed;
    // z-index: 30;
    // background-color: $colour-white;
    // width: 100%;
    // right: 0px;
    // top: auto;
    // left: auto;

    padding: 0.8em 1.2em 0.5em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.4em 0.4em -0.4em rgba(0, 0, 0, 0.25);
    &__return {
        position: absolute;
        left: 1em;
    }
}
