@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset,
legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 2em;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-weight: 700;
  font-size: 1.2em;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}

h6 {
  font-weight: 300;
  text-transform: uppercase;
}

.header i {
  font-size: 1.3em;
}

.footer i {
  font-size: 0.8em;
}

.infobox__subtitle {
  font-weight: 300;
  font-size: 1.1em;
}

.btn {
  font-weight: 500;
  font-size: 0.95em;
}

.restaurant__card__new {
  font-size: 0.9em;
}

.howto__wrapper__item__number {
  font-size: 0.9em;
}

.howto__wrapper__item__text {
  font-weight: 500;
}

.like {
  font-size: 1.5em;
}

.fa-circle-check {
  font-size: 1.3em;
}

.restmenu__container__part__item__text__title {
  font-weight: 500;
  font-size: 1.07em;
}
.restmenu__container__part__item__text__note {
  font-weight: 300;
  font-size: 0.9em;
}
.restmenu__container__part__item__price {
  font-weight: 500;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  min-width: 170px;
  padding: 1em 1.5em;
  border-radius: 1.5em;
  border: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 121, 218)), to(rgb(147, 86, 220)));
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.6em #cccccc);
          filter: drop-shadow(0 0 0.6em #cccccc);
}
.btn--icon {
  padding: 0.6em;
  border-radius: 100%;
  min-width: 2.5em;
  height: 2.5em;
}
.btn:hover {
  -webkit-filter: drop-shadow(0 0 0.6em #999999);
          filter: drop-shadow(0 0 0.6em #999999);
  background: -webkit-gradient(linear, left bottom, left top, from(#a366df), to(#ff88de));
  background: linear-gradient(360deg, #a366df 0%, #ff88de 100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
 supported by Chrome, Edge, Opera and Firefox */
}

.like {
  color: #999999;
  cursor: pointer;
}
.like:hover {
  color: #9356DC;
}

.loading-ring {
  display: none !important;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.loading-ring:after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  margin: 50% auto;
  border-radius: 100%;
  border: 8px solid transparent;
  border-color: #9356DC transparent #FF79DA transparent;
  -webkit-animation: loading-ring 2s linear infinite;
          animation: loading-ring 2s linear infinite;
}
@-webkit-keyframes loading-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  position: fixed;
  top: 0;
  height: 4.25em;
  width: 100%;
  z-index: 30;
}

.header {
  background-color: #fff;
  padding: 0 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0.4em 0.4em -0.4em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.4em 0.4em -0.4em rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1000px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 3.5em;
  }
}
.header__searchbar {
  display: none;
}
@media screen and (min-width: 1000px) {
  .header__searchbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60%;
    gap: 1em;
  }
}
.header__searchbar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #666666;
}
.header__searchbar__input {
  width: 20em;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 0 1em;
  border-radius: 0.5em 0.5em 0 0;
}
.header__searchbar__input:focus {
  border-bottom: 1px solid #9356DC;
  background-color: #f2eafb;
  outline: none;
}
.header__return {
  position: absolute;
  left: 1em;
}

main {
  margin-top: 4.25em;
}

.footer {
  padding: 1.5em 1.5em 2em 1.5em;
  background-color: #333333;
  color: #fff;
}
.footer__title {
  padding-bottom: 1em;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}
.footer__list__item a {
  color: #fff;
}
.footer__list__item a:hover {
  color: #99E2D0;
}
.footer__list__item i {
  width: 1.8em;
}

.location {
  background-color: #e6e6e6;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .location {
    display: none;
  }
}
.location__active {
  color: #333333;
  padding-right: 1em;
}
.location__active__icon {
  padding-right: 0.8em;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .infobox-howto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.infobox {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1em;
  padding: 2.5em 0 3.5em 0;
}
.infobox__title {
  padding: 0 2.8em;
}
.infobox__subtitle {
  color: #666666;
  padding: 0 2em 1em 2em;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .infobox {
    background-color: #fff;
  }
}

.howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  padding: 3em 1em 4em 1em;
}
.howto__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.2em;
  margin-left: 0.6em;
}
.howto__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  width: 100%;
  border-radius: 1em;
  padding: 1.5em 2em;
  background-color: #fff;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.6em #cccccc);
          filter: drop-shadow(0 0 0.6em #cccccc);
}
.howto__wrapper__item__number {
  position: absolute;
  left: -0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #fff;
  background-color: #9356DC;
}
.howto__wrapper__item i {
  color: #999999;
}
.howto__wrapper__item:hover {
  background-color: #f2eafb;
  -webkit-filter: drop-shadow(0 0 0.6em #999999);
          filter: drop-shadow(0 0 0.6em #999999);
}
.howto__wrapper__item:hover i {
  color: #9356DC;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .howto {
    min-width: 20em;
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .howto__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-left: 0;
  }
  .howto__wrapper__item {
    width: 33%;
    margin-left: 0.6em;
  }
}

.restaurant {
  background-color: #f2f2f2;
}
.restaurant__title {
  padding: 2em 1em 1em 1em;
}
.restaurant__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3em;
  padding: 0 1em 4em 1em;
}
.restaurant__container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1em;
  background-color: #fff;
  -webkit-filter: drop-shadow(0 0 0.6em #cccccc);
          filter: drop-shadow(0 0 0.6em #cccccc);
}
.restaurant__container__card:hover {
  -webkit-filter: drop-shadow(0 0 0.6em #9356DC);
          filter: drop-shadow(0 0 0.6em #9356DC);
}
@media screen and (min-width: 1000px) {
  .restaurant__container__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 34%;
            flex: 1 0 34%;
  }
}
.restaurant__container__card__new {
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.4em 0.8em;
  margin: 0.8em 0.8em 0 0;
  border-radius: 0.2em;
}
.restaurant__container__card__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  border-radius: 1em 1em 0 0;
}
.restaurant__container__card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}
.restaurant__container__card__footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3em;
}
.restaurant__container__card__footer__text__location {
  color: #666666;
}
@media screen and (min-width: 1000px) {
  .restaurant__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.restmenu__img {
  height: 20em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restmenu__container {
  position: relative;
  background-color: #f2f2f2;
  padding: 2em 1em 0 1em;
  margin-top: -4em;
  border-radius: 2em 2em 0 0;
}
.restmenu__container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1em;
}
.restmenu__container__part-title {
  position: relative;
  padding: 2em 0 0.5em 0;
}
.restmenu__container__part-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 2.5em;
  border-bottom: 3px solid #99E2D0;
}
.restmenu__container__part {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1000px) {
  .restmenu__container__part {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
.restmenu__container__part__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 1em;
  background-color: #fff;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.6em #cccccc);
          filter: drop-shadow(0 0 0.6em #cccccc);
}
.restmenu__container__part__item:hover {
  -webkit-filter: drop-shadow(0 0 0.6em #99E2D0);
          filter: drop-shadow(0 0 0.6em #99E2D0);
}
@media screen and (min-width: 1000px) {
  .restmenu__container__part__item {
    width: 25em;
  }
}
.restmenu__container__part__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.7em 0 0.7em 0.7em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restmenu__container__part__item__text__title, .restmenu__container__part__item__text__note {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restmenu__container__part__item__price {
  padding: 0.7em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.restmenu__container__part__item__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 1em 1em 0;
  min-width: 3.5em;
  color: #fff;
  background-color: #99E2D0;
}
.restmenu__container__cartlink {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}