@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset,
legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 2em;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-weight: 700;
  font-size: 1.2em;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}

h6 {
  font-weight: 300;
  text-transform: uppercase;
}

.header i {
  font-size: 1.3em;
}

.footer i {
  font-size: 0.8em;
}

.infobox__subtitle {
  font-weight: 300;
  font-size: 1.1em;
}

.btn {
  font-weight: 500;
  font-size: 0.95em;
}

.restaurant__card__new {
  font-size: 0.9em;
}

.howto__wrapper__item__number {
  font-size: 0.9em;
}

.howto__wrapper__item__text {
  font-weight: 500;
}

.like {
  font-size: 1.5em;
}

.fa-circle-check {
  font-size: 1.3em;
}

.restmenu__container__part__item__text__title {
  font-weight: 500;
  font-size: 1.07em;
}
.restmenu__container__part__item__text__note {
  font-weight: 300;
  font-size: 0.9em;
}
.restmenu__container__part__item__price {
  font-weight: 500;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  min-width: 170px;
  padding: 1em 1.5em;
  border-radius: 25px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  cursor: pointer;
  filter: drop-shadow(0 0 0.6em #cccccc);
}
.btn:hover {
  filter: drop-shadow(0 0 0.6em #9356DC);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
 supported by Chrome, Edge, Opera and Firefox */
}

.like {
  color: #999999;
  cursor: pointer;
}
.like:hover {
  color: #9356DC;
}

.img__lapalettedugout {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: center top;
}
.img__lanoteenchantee {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center -20%;
}
.img__alafrancaise {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: center top;
}
.img__ledelicedessens {
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position: center top;
}

.header {
  position: relative;
  z-index: 30;
  padding: 0.8em 1.2em 0.5em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4em 0.4em -0.4em rgba(0, 0, 0, 0.25);
}
.header__return {
  position: absolute;
  left: 1em;
}

.footer {
  padding: 1.5em 1.5em 2em 1.5em;
  background-color: #333333;
  color: #fff;
}
.footer__title {
  padding-bottom: 1em;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer__list__item a {
  color: #fff;
}
.footer__list__item a:hover {
  color: #99E2D0;
}
.footer__list__item i {
  width: 1.8em;
}

.location {
  background-color: #e6e6e6;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location__searchbar {
  display: none !important;
}
.location__active {
  color: #333333;
  padding-right: 1em;
}
.location__active__icon {
  padding-right: 0.8em;
}

.infobox {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 2.5em 0 3.5em 0;
}
.infobox__title {
  padding: 0 2.8em;
}
.infobox__subtitle {
  color: #666666;
  padding: 0 2em 1em 2em;
}

.howto {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 3em 1em 4em 1em;
}
.howto__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2em;
}
.howto__wrapper__item {
  display: flex;
  gap: 1.2em;
  align-items: center;
  justify-self: flex-end;
  width: 95%;
  border-radius: 1em;
  padding: 1.5em 2em;
  background-color: #fff;
  cursor: pointer;
  filter: drop-shadow(0 0 0.6em #cccccc);
}
.howto__wrapper__item__number {
  position: absolute;
  left: -0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #fff;
  background-color: #9356DC;
}
.howto__wrapper__item i {
  color: #999999;
}
.howto__wrapper__item:hover {
  background-color: #f2eafb;
}
.howto__wrapper__item:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding: 3em 1em 4em 1em;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background-color: #fff;
  filter: drop-shadow(0 0 0.6em #cccccc);
}
.restaurant__card:hover {
  filter: drop-shadow(0 0 0.6em #9356DC);
}
.restaurant__card__new {
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  align-self: flex-end;
  padding: 0.4em 0.8em;
  margin: 0.8em 0.8em 0 0;
  border-radius: 0.2em;
}
.restaurant__card__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  border-radius: 1em 1em 0 0;
}
.restaurant__card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.restaurant__card__footer__text {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.restaurant__card__footer__text__location {
  color: #666666;
}

.restmenu {
  background-size: 110% auto;
  background-repeat: no-repeat;
  padding-top: 14em;
}
.restmenu__container {
  background-color: #f2f2f2;
  padding: 2em 1em 0 1em;
  border-radius: 2em 2em 0 0;
}
.restmenu__container__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}
.restmenu__container__part {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.restmenu__container__part__title {
  position: relative;
  padding-bottom: 0.5em;
}
.restmenu__container__part__title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 2.5em;
  border-bottom: 3px solid #99E2D0;
}
.restmenu__container__part__item {
  display: flex;
  gap: 1em;
  align-items: stretch;
  border-radius: 1em;
  background-color: #fff;
  cursor: pointer;
  filter: drop-shadow(0 0 0.6em #cccccc);
}
.restmenu__container__part__item:hover {
  filter: drop-shadow(0 0 0.6em #99E2D0);
}
.restmenu__container__part__item__text {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-grow: 1;
  padding: 0.7em 0 0.7em 0.7em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restmenu__container__part__item__text__title, .restmenu__container__part__item__text__note {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restmenu__container__part__item__price {
  padding: 0.7em 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.restmenu__container__part__item__check {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1em 1em 0;
  min-width: 3.5em;
  color: #fff;
  background-color: #99E2D0;
}
.restmenu__container__cartlink {
  padding: 2em 0;
  display: flex;
  justify-content: center;
}