@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@-webkit-keyframes tilt-shaking {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes tilt-shaking {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation-360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation-360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes menupart-fadein {
  0% {
    opacity: 0%;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes menupart-fadein {
  0% {
    opacity: 0%;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset,
legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  cursor: default;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

h1, h4, h5 {
  font-family: "Shrikhand", cursive;
}

h2, h3 {
  font-weight: 700;
}

.btn {
  font-weight: 600;
}

h1, .howtotext, .font-small--500, .card__price, .card_title {
  font-weight: 500;
}

h6, .infobox__subtitle, .card__note {
  font-weight: 300;
}

h3, h4 {
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
}

h2, .like {
  font-size: 1.5em;
}

h5 {
  font-size: 1.6em;
}

.checkicon, .header i {
  font-size: 1.3em;
}

.footer i {
  font-size: 0.8em;
}

.infobox__subtitle {
  font-size: 1.1em;
}

.btn {
  font-size: 0.95em;
}

.font-small--500, .card__price, .card__note {
  font-size: 0.9em;
}

.card__title {
  font-size: 1.07em;
}

h6 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn {
  min-width: 170px;
  padding: 1em 1.5em;
  border-radius: 1.5em;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #FF79DA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#9356DC));
  background-image: linear-gradient(transparent, #9356DC);
  -webkit-filter: drop-shadow(0 0 0.4em #cccccc);
          filter: drop-shadow(0 0 0.4em #cccccc);
  -webkit-transition: background-color 300ms 200ms, -webkit-filter 500ms;
  transition: background-color 300ms 200ms, -webkit-filter 500ms;
  transition: filter 500ms, background-color 300ms 200ms;
  transition: filter 500ms, background-color 300ms 200ms, -webkit-filter 500ms;
}
.btn--icon {
  padding: 0.6em;
  border-radius: 100%;
  min-width: 2.5em;
  height: 2.5em;
}
.btn:hover {
  -webkit-filter: drop-shadow(0 0 0.4em #999999);
          filter: drop-shadow(0 0 0.4em #999999);
  background-color: #fface8;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
 supported by Chrome, Edge, Opera and Firefox */
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.like--empty {
  opacity: 1;
  color: #999999;
  -webkit-transition: opacity 1500ms ease-in-out;
  transition: opacity 1500ms ease-in-out;
}
.like--full {
  opacity: 0;
  position: absolute;
  color: #9356DC;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.like:hover :nth-child(1) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.like:hover :nth-child(2) {
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  height: 4.25em;
  min-width: 320px;
  width: 100%;
  z-index: 30;
}

.header {
  background-color: #ffffff;
  padding: 0 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0.4em 0.4em -0.4em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.4em 0.4em -0.4em rgba(0, 0, 0, 0.25);
}
.header__logo:hover {
  -webkit-animation: tilt-shaking 200ms;
          animation: tilt-shaking 200ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
.header__searchbar {
  display: none;
}
@media screen and (min-width: 1000px) {
  .header__searchbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60%;
    gap: 1em;
  }
}
.header__searchbar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #666666;
}
.header__searchbar__input {
  width: 20em;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 0 1em;
  border-radius: 0.5em 0.5em 0 0;
}
.header__searchbar__input:focus {
  border-bottom: 1px solid #9356DC;
  background-color: #f2eafb;
  outline: none;
}
.header__return {
  position: absolute;
  left: 1.5em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.header__return:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main {
  margin-top: 4.25em;
}

.footer {
  background-color: #333333;
}
.footer__container {
  padding: 1.5em 1.5em 2em 1.5em;
  color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .footer__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
.footer__container__title {
  padding-bottom: 1em;
}
.footer__container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}
.footer__container__list__item a {
  color: #ffffff;
}
.footer__container__list__item a:hover {
  color: #99E2D0;
}
.footer__container__list__item i {
  width: 1.8em;
}

.index-loader {
  position: fixed;
  z-index: 999;
  content: "";
  background-color: rgba(255, 255, 255, 0.7450980392);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fade-out 3s cubic-bezier(0.7, 0, 0.9, 0.9) both;
          animation: fade-out 3s cubic-bezier(0.7, 0, 0.9, 0.9) both;
}
.index-loader::after {
  position: absolute;
  z-index: 1000;
  content: "";
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border: 20px solid #9356DC;
  border-radius: 100%;
  border-top: 20px solid #FF79DA;
  width: 200px;
  height: 200px;
  -webkit-animation: rotation-360 2s linear infinite;
          animation: rotation-360 2s linear infinite;
}

.location {
  background-color: #e6e6e6;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.location__active {
  color: #333333;
  padding-right: 1em;
}
.location__active__icon {
  padding-right: 0.8em;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .infobox-howto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.infobox {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1em;
  padding: 2.5em 0 3.5em 0;
}
.infobox__title {
  padding: 0 2.8em;
}
.infobox__subtitle {
  color: #666666;
  padding: 0 2em 1em 2em;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .infobox {
    background-color: #ffffff;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 34%;
            flex: 1 0 34%;
    border-right: 3px solid #f2f2f2;
  }
}

.howto__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  padding: 3em 1em 4em 1em;
}
@media screen and (min-width: 1000px) {
  .howto__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
.howto__container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.2em;
  margin-left: 0.6em;
}
@media screen and (min-width: 1000px) {
  .howto__container__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-left: 0;
  }
}
.howto__container__cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  width: 100%;
  border-radius: 1em;
  padding: 1.5em 2em;
  background-color: #ffffff;
  -webkit-filter: drop-shadow(0 0 0.4em #cccccc);
          filter: drop-shadow(0 0 0.4em #cccccc);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
@media screen and (min-width: 1000px) {
  .howto__container__cards__item {
    width: 33%;
    margin-left: 0.6em;
  }
}
.howto__container__cards__item__number {
  position: absolute;
  left: -0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #ffffff;
  background-color: #9356DC;
}
.howto__container__cards__item i {
  color: #999999;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.howto__container__cards__item:hover {
  background-color: #f2eafb;
  -webkit-filter: drop-shadow(0 0 0.4em #999999);
          filter: drop-shadow(0 0 0.4em #999999);
}
.howto__container__cards__item:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: #f2f2f2;
}
.restaurant__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  padding: 3em 1em 4em 1em;
}
@media screen and (min-width: 1000px) {
  .restaurant__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
.restaurant__container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}
@media screen and (min-width: 1000px) {
  .restaurant__container__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
.restaurant__container__cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1em;
  background-color: #ffffff;
  -webkit-filter: drop-shadow(0 0 0.4em #cccccc);
          filter: drop-shadow(0 0 0.4em #cccccc);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.restaurant__container__cards__item:hover {
  -webkit-filter: drop-shadow(0 0 0.4em #ae80e5);
          filter: drop-shadow(0 0 0.4em #ae80e5);
}
@media screen and (min-width: 1000px) {
  .restaurant__container__cards__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 34%;
            flex: 1 0 34%;
  }
}
.restaurant__container__cards__item__new {
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.4em 0.8em;
  margin: 0.8em 0.8em 0 0;
  border-radius: 0.2em;
}
.restaurant__container__cards__item__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  border-radius: 1em 1em 0 0;
}
.restaurant__container__cards__item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}
.restaurant__container__cards__item__footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3em;
}
.restaurant__container__cards__item__footer__text__location {
  color: #666666;
}

.restimg {
  height: 20em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restmenu {
  position: relative;
  padding: 2em 1em 3em 1em;
  margin-top: -4em;
  background-color: #f2f2f2;
  border-radius: 2em 2em 0 0;
}
@media screen and (min-width: 1000px) {
  .restmenu__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
.restmenu__container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1em;
}
.restmenu__container__menu {
  padding-bottom: 3em;
}
.restmenu__container__menu :nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.restmenu__container__menu :nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.restmenu__container__menu :nth-child(3) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
@media screen and (min-width: 1000px) {
  .restmenu__container__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
}
.restmenu__container__menu__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  min-width: 0;
  -webkit-animation: menupart-fadein 1s cubic-bezier(0.7, 0, 0.9, 0.9) both;
          animation: menupart-fadein 1s cubic-bezier(0.7, 0, 0.9, 0.9) both;
}
@media screen and (min-width: 1000px) {
  .restmenu__container__menu__part {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 26%;
            flex: 1 0 26%;
  }
}
.restmenu__container__menu__part__title {
  position: relative;
  padding: 2em 0 0.5em 0;
}
.restmenu__container__menu__part__title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 2.5em;
  border-bottom: 3px solid #99E2D0;
}
.restmenu__container__menu__part .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 1em;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.4em #cccccc);
          filter: drop-shadow(0 0 0.4em #cccccc);
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}
.restmenu__container__menu__part .card:hover {
  -webkit-filter: drop-shadow(0 0 0.4em #b0e8da);
          filter: drop-shadow(0 0 0.4em #b0e8da);
}
.restmenu__container__menu__part .card:hover .card__check {
  margin-right: 0;
}
.restmenu__container__menu__part .card:hover .card__check i {
  -webkit-animation: rotation-360 500ms 200ms;
          animation: rotation-360 500ms 200ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.restmenu__container__menu__part .card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7em;
  gap: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}
.restmenu__container__menu__part .card__container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restmenu__container__menu__part .card__container__text__title, .restmenu__container__menu__part .card__container__text__note {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restmenu__container__menu__part .card__container__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.restmenu__container__menu__part .card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 1em 1em 0;
  min-width: 3.5em;
  color: #ffffff;
  background-color: #99E2D0;
  -webkit-transition: margin-right 500ms ease-in-out;
  transition: margin-right 500ms ease-in-out;
}
.restmenu__container__tocart {
  display: block;
  margin: 0 auto;
}