.img {
    &__lapalettedugout {
        background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-position: center top;
    }
    &__lanoteenchantee {
        background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-position: center -20%;
    }
    &__alafrancaise {
        background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-position: center top;
    }
    &__ledelicedessens {
        background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        background-position: center top;
    }
}