@mixin shadow($colour:hard-lightdark($colour-white),$size:0.6em){
    filter: drop-shadow(0 0 $size $colour);
}

@mixin btn {
    min-width: 170px;
    padding: 1.1em 1.5em;
    border-radius: 25px;
    border: none;
    color: $colour-white;
    background: $colour-primary;
    background: $btn-gradient;
    cursor: pointer;
    @include shadow;
    &:hover{
        @include shadow($colour-primary);
    }
}

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}