@mixin shadow($colour:mid-lightdark($colour-white),$size:0.6em){
    filter: drop-shadow(0 0 $size $colour);
}

@mixin btn {
    min-width: 170px;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    border: none;
    color: $colour-white;
    background: $btn-gradient;
    cursor: pointer;
    @include shadow;
    &--icon {
        padding: 0.6em;
        border-radius: 100%;
        min-width: 2.5em;
        height: 2.5em;
    }
    &:hover{
        @include shadow(hard-lightdark($colour-white));
        background: $btn-gradient-lighten;
    }
}

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@mixin like {
    color: hard-lightdark($colour-white);
    cursor: pointer;
    &:hover {
        color: $colour-primary;
        // Gradient à faire avec webkit
        // voir pour faire passer un fa-solid via display:none
    }
}

@mixin responsive-tablet {
    @media screen   and (min-width: map-get($breakpoints, tablet))
                    and (max-width: map-get($breakpoints, tablet-max)){
        @content;
    }
}
@mixin responsive-desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}