$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-black: #000;
$colour-grey: #f3f3f3;
$colour-invalid: #DB464B;

$btn-gradient: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
$like-gradient: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);